@model w_list.Models.ForumModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ForumModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Locked)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Locked)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsPublic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsPublic)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AllowedWord1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AllowedWord1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AllowedWord2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AllowedWord2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AllowedWord3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AllowedWord3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AllowedWord4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AllowedWord4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AllowedWord5)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AllowedWord5)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AllowedWord6)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AllowedWord6)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AllowedWord7)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AllowedWord7)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AllowedWord8)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AllowedWord8)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AllowedWord9)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AllowedWord9)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AllowedWord10)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AllowedWord10)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
