@model IEnumerable<w_list.Models.ForumModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Locked)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsPublic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AllowedWord1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AllowedWord2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AllowedWord3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AllowedWord4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AllowedWord5)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AllowedWord6)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AllowedWord7)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AllowedWord8)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AllowedWord9)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AllowedWord10)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Locked)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPublic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AllowedWord1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AllowedWord2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AllowedWord3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AllowedWord4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AllowedWord5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AllowedWord6)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AllowedWord7)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AllowedWord8)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AllowedWord9)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AllowedWord10)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
